<div class="breweries-list">
  <div class="hero-image">
    <h1 class="text-center hero-text">All breweries</h1>
  </div>

  <section id="filterFunctions">
    <!--  Filter by Country-->
    <div>
      <h4>Filter by Country</h4>
      <select [ngModel]="filteredCountry" (ngModelChange)="onCountryChange($event)">
        <option value="" disabled selected="selected">Select</option>
        <option *ngFor="let countryName of uniqueCountryNames" value="{{countryName}}">{{countryName}}</option>
      </select>
    </div>

    <!--  Search by Name-->
    <div>
      <h4>Search by name</h4>
      <input type="text" [ngModel]="nameSearch" (ngModelChange)="searchByName($event)" placeholder="Type to search...">
    </div>
    <button class="btn btn-show-all" (click)="showAllBreweries()">Show all</button>
  </section>

  <section>
    <div *ngIf="loading">
      <h3 class="text-center">🍻🍻🍻 Loading...</h3>
    </div>

    <!-- Brewery List -->
    <div *ngIf="!loading" class="row justify-content-center">
      <div class="col-sm-10">
        <div *ngFor="let brewery of filteredBreweries" class="card">
          <a routerLink="/brewery-detail/{{brewery.id}}" routerLinkActive="active">
            <img class="card-img-top" *ngIf="brewery.images" src="{{brewery.images.large}}" alt="Brewery Image">
            <div class="card-body">
              <h3 class="card-title text-center">{{brewery.name}}</h3>
              <p class="card-subtitle mb-2 text-muted" *ngIf="brewery.established">established
                in {{brewery.established}}</p>
              <p class="card-text">{{brewery.description}}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
