<div *ngIf="loading">
  <h3 class="text-center">🍻🍻🍻 Loading...</h3>
</div>

<div *ngIf="!loading">
  <section class=" justify-content-center">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">{{breweryInfo.name}}</h1>
      </div>
    </div>
    <div>
      <div class="text-center">
        <img *ngIf="breweryInfo.images" src="{{breweryInfo.images.large}}" alt="Brewery Logo">
      </div>
      <div class="brewery-info">
        <p *ngIf="breweryInfo.established">
          <i>established in {{breweryInfo.established}}</i></p>
        <p *ngIf="breweryInfo.description; else noDescription">{{breweryInfo.description}}</p>
        <a href="{{breweryInfo.website}}" target="_blank">{{breweryInfo.website}}</a>
      </div>
    </div>
  </section>

  <h3 class="text-center">The beers</h3>

  <section id="filterFunctions">
    <!--  Search by Name-->
    <div>
      <h4>Search by name</h4>
      <input type="text" [ngModel]="nameSearch" (ngModelChange)="searchByName($event)" placeholder="Type to search...">
    </div>
    <button class="btn btn-show-all" (click)="showAllBeers()">Show all</button>
  </section>

  <section id="beer-list">
    <div class="container">
      <div class="row ">
        <div class="col-sm-6" *ngFor="let beer of filteredBeers">
          <div class="row beer-info">
            <div class="col-sm-4 beer-image">
              <img *ngIf="beer.labels; else noImage" src="{{ beer.labels.icon }}"/>
            </div>
            <div class="col-sm-8">
              <h5>{{beer.name}}</h5>
              <span>{{beer.style.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #noDescription>
  <p>Sorry, no description available.</p>
</ng-template>
<ng-template #noImage>
  <img src="../../assets/beer.png"/>
</ng-template>
