<div *ngIf="loading">
    <h3 class="text-center">🍻🍻🍻 Loading...</h3>
</div>

<div *ngIf="!loading">
    <div *ngFor="let beer of beers">
        <p>{{beer.name}}</p>
    </div>

    <section>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li *ngIf="page >1" class="page-item ">
                    <a class="page-link" (click)="showPreviousPage()">Previous</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link">{{page}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="showDifferentPage(pagePlusOne)">{{pagePlusOne}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="showDifferentPage(pagePlusTwo)">{{pagePlusTwo}}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="showDifferentPage(pagePlusThree)">{{pagePlusThree}}</a>
                </li>
                <li *ngIf="page <23" class="page-item"><a class="page-link" (click)="showNextPage()">Next</a></li>
            </ul>
        </nav>
    </section>
</div>
