.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1527443631444-cfeaa17b56fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2103&q=80");
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 5vh;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.beer-info {
    min-height: 25vh;
    align-content: center;
    border: 1px solid rgba(0, 0, 0, 0.06);
}

.beer-image {
    align-self: center;
    text-align: center;
}

#beer-list {
    margin-bottom: 5vh;
    a {
        text-decoration: none;
        color: black
    }
}


