<div>
    <div class="hero-image">
        <h1 class="text-center hero-text">All beers</h1>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>

<!-- Beer List -->
<section *ngIf="!isLoading">
    <div id="filterFunctions">
        <div>
            <h5>Filter by Type</h5>
            <app-filter [currentValue]="filteredType" [items]="beerTypes"
                        (onChanged)="onTypeChange($event)"></app-filter>
        </div>
        <button class="btn btn-show-all" (click)="clearFilters(1)">Clear filters</button>
    </div>

    <h5 class="text-center">{{errorMessage}}</h5>

    <div id="beer-list" class="container">
        <div class="row">
            <div *ngFor="let beer of filteredBeers" class="col-sm-6">

                <div class="row beer-info">
                    <div class="col-sm-4 beer-image">
                        <a routerLink="/beer-detail/{{beer.id}}" routerLinkActive="active">
                            <img *ngIf="beer.labels; else noImage" src="{{ beer.labels.icon }}" alt="Beer Image"/>
                        </a>
                    </div>
                    <div class="col-sm-8">
                        <a routerLink="/beer-detail/{{beer.id}}" routerLinkActive="active">
                            <h5>{{beer.name}}</h5>
                            <p *ngIf="beer.style">{{beer.style.shortName}}</p>
                        </a>

                        <div *ngIf="beer.breweries">
                            <a routerLink="/brewery-detail/{{beer.breweries[0].id}}" routerLinkActive="active">
                                <p><i>{{beer.breweries[0].name}}</i></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination -->
</section>

<app-pagination *ngIf="pageCount !== 0" [pageCount]="pageCount"
                (selectedPage)="onPageSelected($event)"></app-pagination>

<ng-template #noImage>
    <img src="../../../../assets/img/beer.png" alt="Beer Image">
</ng-template>

