<div class="breweries-list">
    <div class="main-image">
        <h1 class="text-center header-text">All breweries</h1>
    </div>

    <section id="filterFunctions">
        <!--  Search by Country-->
        <div>
            <h5>Filter by Country</h5>
            <app-filter [currentValue]="filteredCountry" [items]="uniqueCountryNames"
                        (onChanged)="onCountryChange($event)"></app-filter>
        </div>
        <!--  Search by Name-->
        <div>
            <h5>Search by name</h5>
            <label>
                <input type="text" [ngModel]="nameSearch" (ngModelChange)="searchByName($event)"
                       placeholder="Type to search...">
            </label>
        </div>
        <button class="btn btn-show-all" (click)="clearFilters()">Clear filters</button>
    </section>

    <section>
        <app-loading *ngIf="isLoading"></app-loading>

        <!-- Brewery List -->
        <div *ngIf="!isLoading" class="row justify-content-center">
            <div class="col-sm-10">
                <div *ngFor="let brewery of filteredBreweries" class="card">
                    <a routerLink="/brewery-detail/{{brewery.id}}" routerLinkActive="active">
                        <div class="text-center">
                            <img *ngIf="brewery.images" src="{{brewery.images.medium}}"
                                 alt="Brewery Image">
                            <h3 class="card-title text-center">{{brewery.name}}</h3>
                        </div>
                        <div class="card-body">
                            <p class="card-subtitle mb-2 text-muted" *ngIf="brewery.established">established
                                in {{brewery.established}}</p>
                            <p class="card-text">{{brewery.description}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>
