<app-loading *ngIf="isLoading"></app-loading>

<div *ngIf="!isLoading">
    <div>
        <div class="main-image">
            <h1 class="text-center header-text">{{beer.name}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 beer-image">
                <img src="{{beer.labels ? beer.labels.medium : '/assets/beer-large.png' }}" alt="Beer Label">
            </div>
            <div class="col-sm-5 beer-info">
                <h5 *ngIf="beer.style.shortName">Type: {{beer.style.shortName}}</h5>
                <br>
                <p *ngIf="beer.description, else noDescription">{{beer.description}}</p>
                <a routerLink="/brewery-detail/{{beer.breweries[0].id}}" routerLinkActive="active">
                    <p>{{beer.breweries[0].name}}</p>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #noDescription>
    <p>Sorry, no description available.</p>
</ng-template>
