.loading {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}

.loader {
    animation: spin 2s linear infinite;
    font-size: xx-large;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
